@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* Style the header with a grey background and some padding */
body {
    margin: 0;
    font-family: 'Lato';
    font-size: 100%;
    background-color: #000000;
  }
  
.top-container {
    background-color: #383838;
    padding: 30px;
    text-align: center;
  }
  
.header {
    padding: 3% 3%;
/*    padding-left: min(20px,3%);
    padding-top: min(20px,3%);
    padding-bottom: min(20px,3%);*/
    background: #000000;
    color: #f1f1f1;
    width:100%;
    display: flex;
    z-index: 7;
    animation-name: unstick_anime;
    animation-duration: 300ms;
}

@keyframes unstick_anime {
  0% {padding-top: 1%; padding-bottom: 1%;}
  100% {padding-top: 3%; padding-bottom: 3%;}
}  
  
.header img{
    width: 30%;
/*    max-width: 320px;*/
    vertical-align: middle;
}


.menu{
    text-align: right;
    width:65%;
    font-size: 4vw;
    margin:auto;
    padding-right: 5%;
    cursor: pointer;
    /* vertical-align: middle; */
}

.content {
    padding: 0px;
  }
  
.question {
    font-size: max(3.5vw,2em);
    text-align: center;
    padding: 6% 4%;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    background-color: #383838;
    color: #FFFFFF ;
}

.question u{
    color: #FFC700;
    text-decoration: none;
}

.question u:hover{
    display:flexbox;
    text-decoration: underline;
    /* background-color: #FFC700;
    color: #383838; */
    animation-name: example;
    animation-duration: 300ms;
}

@keyframes example {
    0% {text-decoration: none; text-decoration-color: #383838;}
    100% {text-decoration: underline; text-decoration-color: #FFC700}
}

.questionA {
    font-size: max(3.5vw,2em);
    text-align: center;
    padding: 6% 4%;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    background-color: #FFC700;
    color: #000000 ;
}

.story1 {
    font-size: max(1.5vw,1.2em);
    font-weight: 300;
    text-align: center;
    background-color: #000000;
    font-family: Lato;
    color: #FFC700;
    line-height: 2.5em;
/*    width:  max(20px,50%);*/
    padding-left:  max(20px,25%);
    padding-right:  max(20px,25%);
    padding-top: 8%;
}

.story2 {
    background-color: #000000;
    
}
.story2 img {
    min-width: 256px;
    max-width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: min-width 250ms, max-width 250ms;
}

.story2 img:hover{
    min-width: 288px;
    max-width:288px;
}

.story3 {
    font-size: max(1.5vw,1.2em);
    font-weight: 300;
    text-align: center;
    background-color: #000000;
    font-family: Lato;
    color: #FFC700;
    line-height: 2.5em;
/*    width:  max(20px,50%);*/
    padding-left:  max(20px,25%);
    padding-right:  max(20px,25%);
    padding-bottom: 3%;
}

hr {
    width: 50%;
    border:none;
    background-color:#FFC700;
    height: 1px;
  }

.story4 {
    font-size: max(1.5vw,1.2em);
    font-weight: 300;
    /* font-style: oblique; */
    text-align: center;
    background-color: #000000;
    font-family: Lato;
    color: #FFC700;
    line-height: 2.5em;
/*    width:  max(20px,50%);*/
    padding-left:  max(20px,25%);
    padding-right:  max(20px,25%);
    padding-bottom: 3%;
    padding-top:3%;
}

.performance {
    background-color: #383838;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.performanceblock {
    width: 33%;
}

.performanceblock img{
    /* position: absolute;
    width: 25%; */
    width: 90%;
    padding-top: 5%;
    /* padding-left: 0.67%;
    padding-right: 0.67%; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: width 300ms, padding-left 300ms, padding-right 300ms, padding-bottom 300ms, padding-top 300ms;
}

/* .img1{
    z-index: 1;
    padding-top: 5%;
}
.img2{
    z-index: 3;
    margin-top: 10.5%;
} */


.performance img:hover {
    /* width: 26.4%;
    z-index: 5; */
    /* padding-top: 5%; */
    /* padding-left: 0%; */
    /* padding-right: 0.67% */
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom:  2.5%;
}

.performanceblocktitle {
    /* margin-top: 75%; */
    overflow: hidden;
    font-size: max(2.0vw,1.5em);
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    color: #FFFFFF ;
}

.performanceblocktext {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    font-size: max(1.5vw,1.25em);
    line-height: max(2.5vw,1.75em) ;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    color: #FFFFFF ;
}

.performance_discuss {
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #383838;
    /* align-content: center; */
    color:#FFFFFF;
    font-size: max(1.5vw,1.25em);
    line-height: max(2.5vw,1.75em) ;
    font-family: 'Lato';
    font-weight: 300;   

    text-align: left;
    line-height: 2.0em;
/*    width:  max(20px,50%);*/
    padding-left:  max(20px,25%);
    padding-right:  max(20px,25%);
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}

.offering {
    font-size: max(1.8vw,1em);
    justify-content: center;
    font-weight: 900;
    /* align-items: center; */
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #FFC700;
    color: #000000;
    align-content: center;
}


.tier1 {
    font-size: max(3.5vw,2em);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    background-color: #383838;
    color: #FFFFFF ;
}

.three1 {
    background-color: #383838;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.tier2 {
    font-size: max(3.5vw,2em);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    background-color: #000000;
    color: #FFFFFF ;
}
.three2 {
    background-color: #000000;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.tier3 {
    font-size: max(3.5vw,2em);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    background-color: #FFC700;
    color: #000000 ;
}
.three3 {
    background-color: #FFC700;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}


.threeblock {
    max-width: 33.3333%;
}

.threeblock3 {
    max-width: 100%;
}


.threeblock img {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: width 300ms, padding-left 300ms, padding-right 300ms, padding-top 300ms, padding-bottom 300ms;
}

.threeblock img:hover {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom:  2.5%;
}

.threeblock3 img {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: width 300ms, padding-left 300ms, padding-right 300ms;
}

.threeblock3 img:hover {
    width: 65%;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 5%;
    padding-bottom: 5%;
}


.threeblocktitle {
    overflow: hidden;
    font-size: max(2.0vw,1.5em);
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    color: #FFFFFF ;
}

.threeblocktitle3 {
    overflow: hidden;
    font-size: max(2.0vw,1.5em);
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    color: #000000 ;
}

.threeblocktext {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    font-size: max(1.5vw,1.25em);
    line-height: max(2.5vw,1.75em) ;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    color: #FFFFFF ;
}

.rate1 {
    justify-content: center;
    /* align-items: center; */
    display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #383838;
    align-content: center;
}

.rate1 button {
    font-size: max(1.5vw,1.0em);
    display: inline-block;
    text-align: center;
    padding: 3%;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    background-color: #383838;
    color: #FFC700;
    cursor: pointer;
    border-radius: max(3vw,3.0em);
    border-width: thick;
    border-color: #FFC700;
    border-style: solid;
    transition: background-color 300ms, color 300ms;
}

.rate1 button:hover {
    background-color: #FFC700;
    color: #383838;
    border-style: solid;
}



.rate2 {
    justify-content: center;
    /* align-items: center; */
    display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #000000;
    align-content: center;
}
.rate2 button {
    font-size: max(1.5vw,1.0em);
    display: inline-block;
    text-align: center;
    padding: 3%;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    background-color: #000000;
    color: #FFC700;
    cursor: pointer;
    border-radius: max(3vw,3.0em);
    border-width: thick;
    border-color: #FFC700;
    border-style: solid;
    transition: background-color 300ms, color 300ms;
}
.rate2 button:hover {
    background-color: #FFC700;
    color: #000000;
}

.rate3 {
    justify-content: center;
    /* align-items: center; */
    display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #FFC700;
    align-content: center;
}

.rate3 button {
    font-size: max(1.5vw,1.0em);
    display: inline-block;
    text-align: center;
    padding: 3%;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    background-color: #FFC700;
    color: #000000;
    cursor: pointer;
    border-radius: max(3vw,3.0em);
    border-width: thick;
    border-color: #000000;
    border-style: solid;
    transition: padding 300ms, background-color 300ms, color 300ms;
}
.rate3 button:hover {
    background-color: #000000;
    color: #FFC700;
    border-style: solid;
    padding: 3.5%;
}

.invitation {
    font-size: max(1.2vw,0.8em);
    justify-content: center;
    /* align-items: center; */
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #383838;
    color: #FFFFFF;
    align-content: center;
}

.about1 {
    justify-content: center;
    /* align-items: center; */
    /* display: flex; */
    /* padding-top: 1%;
    padding-bottom: 1%; */
    background-color: #000000;
    color: #FFFFFF;
    align-content: center;

    font-size: max(1.5vw,1.2em);
    font-weight: 300;
    text-align: left;
    line-height: 2.0em;
/*    width:  max(20px,50%);*/
    padding-left:  max(20px,25%);
    padding-right:  max(20px,25%);
    /* padding-top: 2%; */
    padding-bottom: 1%;

}

.about1 a{
    color:#FFFFFF;
}
.about2 {
    justify-content: center;
    /* align-items: center; */
    /* display: flex; */
    /* padding-top: 1%;
    padding-bottom: 1%; */
    background-color: #000000;
    color: #FFFFFF;
    align-content: center;

    font-size: max(1.5vw,1.2em);
    font-weight: 300;
    text-align: left;
    line-height: 2.0em;
/*    width:  max(20px,50%);*/
    padding-left:  max(20px,25%);
    padding-right:  max(20px,25%);
    padding-top: 1%;
    padding-bottom: 5%;

}

.hr2 {
    width: 50%;
    border:none;
    background-color:#FFFFFF;
    height: 1px;
  }

.footer{
    background-color: #000000;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footerrow {
    width: 50%;
}

.contact {
    overflow: hidden;
    font-size: max(1.8vw,1.0em);
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 300;
    color: #FFFFFF ;
    padding: 5%;
}

.contact img{
    height: max(1.8vw,1.0em);
    vertical-align: middle;
}

.contact u{
    color: #FFC700;
    font-weight: 500;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
    padding-top: 1%;
    padding-bottom: 1%;
    animation-name: stick_anime;
    animation-duration: 300ms;
}

@keyframes stick_anime {
  0% {padding-top: 3%; padding-bottom: 3%;}
  100% {padding-top: 1%; padding-bottom: 1%;}
}



.sticky + .content {
    padding-top: 13.079578606%;
  }
  

@media only screen and (orientation: portrait){

.header {
    animation-name: unstick_anime;
    animation-duration: 300ms;
}

@keyframes unstick_anime {
  0% {padding-top: 3%; padding-bottom: 3%;}
  100% {padding-top: 3%; padding-bottom: 3%;}
}  


    .story1 {
        font-size: max(1.5vw,1.2em);
        font-weight: 300;
        text-align: center;
        background-color: #000000;
        font-family: Lato;
        color: #FFC700;
        line-height: 2.5em;
    /*    width:  max(20px,50%);*/
        padding-left:  min(50px,25%);
        padding-right:  min(50px,25%);
        padding-top: 8%;
    }
    
    .story2 img {
        min-width: 256px;
        max-width: 256px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        padding-top: 3%;
        padding-bottom: 1%;
    }
    
    .story3 {
        font-size: max(1.5vw,1.2em);
        font-weight: 300;
        text-align: center;
        background-color: #000000;
        font-family: Lato;
        color: #FFC700;
        line-height: 2.5em;
    /*    width:  max(20px,50%);*/
        padding-left:  min(50px,25%);
        padding-right:  min(50px,25%);
        padding-bottom: 4%;
    }

    hr {
        width: 70%;
        border:none;
        background-color:#FFC700;
        height: 1px;
      }
    
    .story4 {
        font-size: max(1.5vw,1.2em);
        font-weight: 300;
        /* font-style: oblique; */
        text-align: center;
        background-color: #000000;
        font-family: Lato;
        color: #FFC700;
        line-height: 2.5em;
    /*    width:  max(20px,50%);*/
        padding-left:  min(50px,25%);
        padding-right:  min(50px,25%);
        padding-bottom: 3%;
        padding-top:3%;
    }
    .three1 {
        background-color: #383838;
        display:block;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .three2 {
        background-color: #000000;
        display: block;
        padding-left: 20%;
        padding-right: 20%;
    }

    .performance {
        display: block;
        padding-left: 20%;
        padding-right: 20%;
    }

    .footer{
        background-color: #000000;
        display: block;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .footerrow {
        width: 100%;
    }    

    .contact {
        overflow: hidden;
        font-size: max(1.8vw,1.0em);
        text-align: center;
        font-family: 'Montserrat Alternates';
        font-weight: 300;
        color: #FFFFFF ;
        padding: 2%;
    }
    
    .threeblock {
        max-width: 100%;
    }    

    .performanceblock {
        width: 100%;
    }    

    .performance_discuss {
        /* justify-content: center; */
        /* align-items: center; */
        display: flex;
        padding-top: 3%;
        padding-bottom: 4%;
        background-color: #383838;
        /* align-content: center; */
        color:#FFFFFF;
        font-size: max(1.5vw,1.25em);
        line-height: max(2.5vw,1.75em) ;
        font-family: 'Lato';
        font-weight: 300;   
    
        text-align: left;
        line-height: 2.0em;
    /*    width:  max(20px,50%);*/
        padding-left:  min(50px,25%);
        padding-right:  min(50px,25%);
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    
    }
    .about1 {
        justify-content: center;
        /* align-items: center; */
        /* display: flex; */
        /* padding-top: 1%;
        padding-bottom: 1%; */
        background-color: #000000;
        color: #FFFFFF;
        align-content: center;
    
        font-size: max(1.5vw,1.2em);
        font-weight: 300;
        text-align: left;
        line-height: 2.0em;
    /*    width:  max(20px,50%);*/
        padding-left:  min(50px,25%);
        padding-right:  min(50px,25%);
        /* padding-top: 2%; */
        padding-bottom: 1%;
    
    }
    
    .about1 a{
        color:#FFFFFF;
    }

    .about2 {
        justify-content: center;
        /* align-items: center; */
        /* display: flex; */
        /* padding-top: 1%;
        padding-bottom: 1%; */
        background-color: #000000;
        color: #FFFFFF;
        align-content: center;
    
        font-size: max(1.5vw,1.2em);
        font-weight: 300;
        text-align: left;
        line-height: 2.0em;
    /*    width:  max(20px,50%);*/
        padding-left:  min(50px,25%);
        padding-right:  min(50px,25%);
        padding-top: 1%;
        padding-bottom: 5%;
    
    }
    
    .hr2 {
        width: 70%;
        border:none;
        background-color:#FFFFFF;
        height: 1px;
      }

    .sticky {
        position: fixed;
        top: 0;
        width:100%;
        padding-top: 3%;
        padding-bottom: 3%;
        animation-name: stick_anime;
        animation-duration: 300ms;
    }
    
    @keyframes stick_anime {
      0% {padding-top: 3%; padding-bottom: 3%;}
      100% {padding-top: 3%; padding-bottom: 3%;}
    }

    .sticky + .content {
        padding-top: 13.279578606%;
      }
    }    


    /* overlay menu*/
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        z-index: 9;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #FFFFFF;
        display: block;
        transition: 0.3s;
        font-weight: 300;
        transition: font-weight 300ms;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #FFC700;
        font-weight: 700;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      
      @media screen and (max-height: 450px) {
        .overlay {overflow-y: auto;}
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      }

